<% @page_title = "About"%>

<h1>What this site is</h1>
<p>This site was created by a group of friends that share a common trait: we all have 9-5 jobs, and we are all bored of them. We soon formed an email chain to share our thoughts and help us get through our corporate days. We shared our humor and a little insight into the human mind. After a while, we realized we were all absolutely insane and thought it would be a good idea to share our more entertaining conversations and stories with the world.</p>
<p>This site is the result of years of email conversations between friends. We have highlighted some of more interesting conversations to share on this website. We also want any and all users to share whatever interesting emails they have with us too!</p>
<h1>How can I submit my interesting emails?</h1>
<p>Glad you asked, you can actually do that <%= link_to "right here", :controller => "submitemail", :action => "index" %>. Just fill out the simple form and click on the "Submit" button to send. We will review your content and decide if it is appropriate for the front page.</p>
<div id="tabbedcontent">

<h2>Your emails are safe with us</h2> 
<p>When you submit an email please remove any names and keep the formatting similar to the emails already on the site. This will ensure a quick decision on wether or not to add your email to the front page. We will never use your personal information; and to be honest, if you keep it anonymous we couldn't even if we wanted to. Just try to keep things relatively safe for people at work to read. We are not going to add any emails that are extremely vulgar or violent in nature, although slightly vulgar/violent is encouraged.</p>

</div>

<h1>Google Gadgets</h1>
<p>This site exclusively uses google friend connect to help manage our content and to track our "Best of" section. Please feel free to use these Gadgets to your hearts content. Google Friend Connect is an awesome product and its open to use for anyone who has a Twitter, Gmail, AIM, or Yahoo account. You have to sign in to this site in order to use some functionality. You must sign in to be able to comment in the "comments" gadget, or to "like" an email.</p>
	<div id="tabbedcontent">

<h2>Members Gadget</h2>
<p>The members gadget is your doorway to communicate and participate on this site! You can "Join" this site with a gmail, yahoo, twitter, or AIM account. Once you join, you can communicate to other members, "Like" certain posts, and even contribute to the comments!</p>
<h2>"Best Of" Gadget</h2>
<p>The "Best Of" gadget aggregates all of the "Likes" from all of the posts across the site. The gadget displays an all time count of everyone's "likes". You can contribute to this gadget by Liking a post after you sign in through the members gadget.</p>
<h2>Comments Gadget</h2>
<p>Under each post is a comments gadget. This gadget allows you to.... well, make comments. Sign in through the members gadget to make comments to any post you find funny, or interesting.</p>

	</div>

