<% @page_title = "About"%>

<h1>What this site is</h1>
<p>This site was created by a group of friends that share a common trait: we all have 9-5 jobs, and we are all bored of them. We soon formed an email chain to share our thoughts and help us get through our corporate days. We shared our humor and a little insight into the human mind. After a while, we realized we were all absolutely insane and thought it would be a good idea to share our more entertaining conversations and stories with the world.</p>
<p>This site is the result of years of email conversations between friends. We have highlighted some of more interesting conversations to share on this website. We also want any and all users to share whatever interesting emails they have with us too!</p>
<h1>How can I submit my interesting emails?</h1>
<p>Glad you asked, you can actually do that <%= link_to "right here", :controller => "submitemail", :action => "index" %>. Just fill out the simple form and click on the "Submit" button to send. We will review your content and decide if it is appropriate for the front page.</p>
<p><strong>Your emails are safe with us.</strong> When you submit an email please remove any names and keep the formatting similar to the emails already on the site. This will ensure a quick decision on wether or not to add your email to the front page. We will never use your personal information; and to be honest, if you keep it anonymous we couldn't even if we wanted to. Just try to keep things relatively safe for people at work to read. We are not going to add any emails that are extremely vulgar or violent in nature, although slightly vulgar/violent is encouraged.</p>
<h1>Google Gadgets</h1>
<p>This site exclusively uses google friend connect to help manage our content and to track our "Best of" section. Please feel free to use these Gadgets to your hearts content. Google Friend Connect is an awesome product and its open to use for anyone who has a Twitter, Gmail, AIM, or Yahoo account. You have to sign in to this site in order to use some functionality. You must sign in to be able to comment in the "comments" gadget, or to "like" an email.</p>

