<div id="post">

<h1><%= link_to_unless_current h(email.title), email %></h1>	

	<%= truncate(email.body, :length => 500) %>

	</div>	
		<div id="postContent">
				
			Posted <%= email.created_at.strftime("%A, %b %d")%> <br />
			
			<% link_to(email) do %>
			<%= email.comments.count%> comments
			<%end%>
			</div>
			<br />
			

		
