<div id="post">
	<b class="btop">
	  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
	</b>

<h1><%= link_to_unless_current h(email.title), email %></h1>	

	<%= snippet(email.body) %>
	
	<b class="bbottom">
	  <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
	</b>
	
	</div>
		
		<div id="postcontent">
			
				
			Posted <%= email.created_at.strftime("%A, %b %d")%> <br />			
			</div>
			
			<br />
			

		
